@use '@/shared/styles/variables.scss' as variables;

html, body {
  margin: 0;
  background-color: variables.$background-color;
}

* {
  box-sizing: border-box;
}

html[class*=scroll-lock] {
  overflow: hidden !important;
}