@use '@/shared/styles/variables.scss' as variables;

.button {
  border-radius: 99px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 12px;
  cursor: pointer;
  gap: 10px;
  
  border: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 17px;

  &.text {
    background-color: transparent;
    color: variables.$button-default;
  }

  &.contained {
    background-color: variables.$button-default;
    color: rgb(218, 222, 231);
    transition: none 120ms ease-in-out;
    transition-property: background-color, color;

    &[disabled] {
      background: #B6BED0;
      pointer-events: none;
    }
  }
}