@use '@/shared/styles/variables.scss' as variables;

.p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: variables.$tertiary-color;
}