.container {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;

  .label {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 17px;
    width: 100%;
    text-align: center;
    margin: 4px 0;
  }

  .slideContainer {
    padding: 15px 8px;
    width: 100%;
    position: relative;
    user-select: none;

    .slide {
      height: 10px;
      border: 0.5px solid rgba(29, 36, 54, 0.12);
      border-radius: 20px;
    }

    .handle {
      position: absolute;
      top: 0;
      display: flex;

      -webkit-user-drag: none;
      user-select: none;
    }
  }

  .ticks {

  }
}