@use '@/shared/styles/variables.scss' as variables;

.headline {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 110%;
  color: variables.$primary-color;
  margin: 0;

  @media screen and (max-width: variables.$breakpoint-tablet) {
    font-size: 36px;
  }

  strong {
    font-style: normal;
    font-weight: 400;

    padding: 0 12px;
    position: relative;
    color: var(--accent-text-color);
    background-color: var(--accent-color);
    border-radius: 15px;
    display: inline-flex;
    align-items: end;
    height: 54px;

    @media screen and (max-width: variables.$breakpoint-tablet) {
      padding: 0 8px;
      height: 36px;
    }
  }
}