@use '@/shared/styles/variables.scss' as variables;

.quiz {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: variables.$breakpoint-tablet) {
    flex-direction: column-reverse;
  }
}