@use '@/shared/styles/variables.scss' as variables;

.quiz {
  display: flex;
  flex-direction: row;
  background-image: url('../../../assets/backgrounds/primary.svg');
  background-position: -20px 0px;

  @media screen and (max-width: variables.$breakpoint-tablet) {
    flex-direction: column-reverse;
    background-image: none;
    background-color: variables.$background-color;
  }
}