@use '@/shared/styles/variables.scss' as variables;

.firstSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 80px;
  gap: 80px;
  isolation: isolate;
  width: 100%;

  @media screen and (max-width: 1080px) {
    flex-direction: column-reverse;
  }

  @media screen and (max-width: variables.$breakpoint-tablet) {
    padding: 16px;
    padding-top: 61px;
    gap: 32px;
  }

  & > * {
    flex: 1;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    @media screen and (max-width: variables.$breakpoint-tablet) {
      gap: 16px;
    }

    > p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 140%;
      color: variables.$secondary-color;
      margin: 0;

      @media screen and (max-width: px) {
        font-size: 15px;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 32px;

      @media screen and (max-width: variables.$breakpoint-tablet) {
        flex-direction: column;
        align-items: center;

        button {
          width: 100%;
        }
      }

      & > * { flex: 1; }

      .price {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;

        .specialOffer,
        .oldPrice {
          width: max-content;
        }
        
        .specialOffer {
          color: variables.$primary-color;
        }

        .oldPrice {
          color: variables.$tertiary-color;
          text-decoration-line: line-through;
        }
      }
    }
  }
}